<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Crowd Source Map</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>

    <style>
        #map { 
            width: 100%; 
            height: 580px; 
            border: 1px solid #AAA;
            display: hidden;

        }
    </style>

    
  </head>
  <body>
    <div class="mapContainer">
        <div id="map"></div>
    </div>
    </body>

    <script>
        
        const initialCordinates = [-27.59, -48.54]; // Cordenadas de Florianópolis
        const initialZoom = 12;

        const map = L.map('map', {drawControl: true}).setView(initialCordinates, initialZoom);

        const baseLayer = L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a>'
            }).addTo(map)

    </script>

</html>